.expenses-list-container {
  flex: 1;
  width: 100%;
  position: relative;

  background-color: rgba(234, 234, 234, 0.166);
  overflow-y: scroll;
}

.no-expenses {
  font-weight: 400;
  color: #979797;
}

.expenses-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.expense {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  border: 1px solid var(--border-color);
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.expense.selected {
  outline: 1px solid #d6e8ff;
  border: 1px solid rgba(26, 115, 232, 0.502);

  background-color: rgba(26, 115, 232, 0.08);
  box-shadow: 0 3px 5px var(--border-color);
}

.expense:hover {
  box-shadow: 0 3px 5px var(--border-color);
}

.expense .top {
  display: flex;
  justify-content: space-between;
}

.expense .left-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-left-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.expense-time-amount-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.expense-amount {
  font-size: 1.3rem;
}

.expense-time-container {
  display: flex;
  gap: 5px;
}

.expense-time-img,
.expense-place-img {
  height: 1em;
}

.expense-time-p {
  color: rgb(53, 53, 53);
}

.expense-category {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.expense-place-container {
  display: flex;

  max-height: 2.3rem;
  gap: 5px;
}
.expense-note {
  max-height: 2.3rem;
  overflow-y: scroll;
}

.address-skeleton,
.address-info {
  color: #656565;
  font-size: 0.9rem;
  overflow-x: scroll;
}
