@import url("./categories.css");
@import url("./gmap.css");
@import url("./expenses.css");
@import url("./date-slider.css");
@import url("./expenses-list.css");
@import url("./aggregation.css");
@import url("./aggregation-badge.css");
@import url("./add-expenses.css");
@import url("./add-expense-modal.css");
:root {
  --overview-size: 25%;
  --border-color: rgba(0, 0, 0, 0.171);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
}

.expenses-map-container {
  display: flex;
}
